.contactContainer {
    color: var(--secondary-light);    
}

.centerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;    
  }