@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.highlightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--alternative);    
}

.highlightImage {
    border: 1px solid var(--secondary);
    box-shadow: 0px 2px 5px var(--alternative);
}

.highlightRowCardContainer {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    box-shadow: -1px 3px 5px var(--alternative);
    color: var(--secondary);
    width: 95vw; 
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Baloo Tammudu 2', cursive;
    display: flex;    
    justify-content: space-around;
    align-items: center;   
}