.highlightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--stark);
}

.highlightImage {
    width: 60vw; 
    height: 280px; 
}

.highlightRowCardContainer {
    background-color: var(--stark);
    border: 3px solid var(--void);
    box-shadow: -1px 3px 5px var(--void);
    color: var(--void); 
    min-width: 60vw; 
    min-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}