@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@media only screen and (min-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr) 0.5fr;
		grid-template-rows: repeat(5, 1fr) 0.5fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		min-height: 100vh;
	}

	.row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logoRowContainer {
		grid-area: 1 / 1 / 5 / 3;
		background-color: var(--primary);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--secondary);
		box-shadow: 0px 2px 3px var(--primary);
	}

	.highlightRowContainer {
		grid-area: 5 / 1 / 6 / 4;
		border: 2px solid var(--primary);
		box-shadow: 0px 5px 5px var(--secondary);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(152, 135, 143);
		background: -moz-linear-gradient(
			180deg,
			rgba(152, 135, 143, 0.9054972330729166) 0%,
			rgba(152, 94, 109, 0.4433123591233369) 19%,
			rgba(0, 0, 0, 0.9363095580028886) 81%
		);
		background: -webkit-linear-gradient(
			180deg,
			rgba(152, 135, 143, 0.9054972330729166) 0%,
			rgba(152, 94, 109, 0.4433123591233369) 19%,
			rgba(0, 0, 0, 0.9363095580028886) 81%
		);
		background: linear-gradient(
			180deg,
			rgba(152, 135, 143, 0.9054972330729166) 0%,
			rgba(152, 94, 109, 0.4433123591233369) 19%,
			rgba(0, 0, 0, 0.9363095580028886) 81%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#98878f",endColorstr="#000000",GradientType=1);
	}

	.logoRowContainer video {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		z-index: 0;
		-webkit-filter: brightness(0.6); /* Safari 6.0 - 9.0 */
		filter: brightness(0.6);
	}

	.logoTextContainer {
		z-index: 1;
		position: relative;
		text-align: center;
		color: var(--primary);
		background-color: #e7dfdd1f;
		box-shadow: -1px 2px 5px var(--alternative);
		height: 60%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--secondary);
		border-radius: 5%;
		font-family: 'Righteous', cursive;
		-webkit-text-stroke: 1px var(--secondary);
		font-size: 3rem;
	}

	.buttonRightSoundCloudContainer {
		grid-area: 1 / 3 / 2 / 4;
		background-color: var(--primary);
		box-shadow: -2px 3px 5px var(--primary-light);
		border: 1px solid var(--alternative);
		color: var(--secondary-light);
	}
	.buttonRightInstagramContainer {
		grid-area: 2 / 3 / 3 / 4;
		background-color: var(--secondary);
		border: 1px solid var(--primary);
		box-shadow: -2px 3px 5px var(--primary-light);
	}
	.buttonRightTwitchContainer {
		grid-area: 3 / 3 / 4 / 4;
		background-color: var(--secondary-light);
		border: 1px solid var(--alternative);
		box-shadow: -2px 3px 5px var(--primary-light);
	}
	.buttonRightContactContainer {
		grid-area: 4 / 3 / 5 / 4;
		background-color: var(--alternative);
		border: 1px solid var(--secondary-light);
		box-shadow: -2px 1px 5px var(--primary);
		color: var(--primary);
	}

	.buttonRightContactContainer:active {
		box-shadow: 0px 3px 5px var(--alternative);
	}

	.footer {
		grid-area: 6 / 1 / 7 / 4;
		background-color: var(--secondary-light);
	}
}

@media only screen and (max-width: 599px) {
	.container {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.row {
		margin-bottom: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logoRowContainer {
		background-color: var(--primary);
		min-height: 50vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logoRowContainer video {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		z-index: 0;
		-webkit-filter: brightness(0.6); /* Safari 6.0 - 9.0 */
		filter: brightness(0.6);
	}

	.logoTextContainer {
		z-index: 1;
		position: relative;
		text-align: center;
		color: var(--secondary);
		background-color: #e7dfdd1f;
		height: 60%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--alternative);
		border-radius: 3%;
		font-family: 'Righteous', cursive;
		-webkit-text-stroke: 1px var(--primary);
		font-size: 2rem;
	}

	.buttonRightSoundCloudContainer {
		/*background-color: var(--fushcia);*/
		border: 3px solid var(--secondary-light);
	}
	.buttonRightInstagramContainer {
		/*background-color: var(--jewel);*/
		border: 3px solid var(--secondary-light);
	}
	.buttonRightTwitchContainer {
		/*background-color: var(--stark);*/
		border: 3px solid var(--secondary-light);
	}
	.buttonRightContactContainer {
		/*background-color: var(--neongreen);*/
		border: 3px solid var(--secondary-light);
	}
	.highlightRowContainer {
		background: rgb(231, 223, 221);
		background: -moz-linear-gradient(
			180deg,
			rgba(231, 223, 221, 0.8746849081429446) 20%,
			rgba(57, 255, 20, 0.8018557764902836) 41%,
			rgba(162, 57, 202, 0.8690826672465861) 68%,
			rgba(238, 181, 235, 0.8914916308320203) 85%
		);
		background: -webkit-linear-gradient(
			180deg,
			rgba(231, 223, 221, 0.8746849081429446) 20%,
			rgba(57, 255, 20, 0.8018557764902836) 41%,
			rgba(162, 57, 202, 0.8690826672465861) 68%,
			rgba(238, 181, 235, 0.8914916308320203) 85%
		);
		background: linear-gradient(
			180deg,
			rgba(231, 223, 221, 0.8746849081429446) 20%,
			rgba(57, 255, 20, 0.8018557764902836) 41%,
			rgba(162, 57, 202, 0.8690826672465861) 68%,
			rgba(238, 181, 235, 0.8914916308320203) 85%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7dfdd",endColorstr="#eeb5eb",GradientType=1);
		border: 3px solid var(--primary);
	}
	.footer {
		background-color: var(--alternative);
	}
}
